<div class="header_image">
  <a href="{{ "" | relURL }}">
    <img src="/images/share.png" width="150px">
  </a>
</div>
<a href="{{ "" | relURL }}">
  <div class="compact_title">
    <img src="/images/share.png" width="150px">
    <span class="header_compact_title">
      <b>maisatanel</b>
    </span>
  </div>
</a>
<div class="title">
  <a href="{{ "" | relURL }}" class="title">
    <div class="header_title">
      <h1>maisatanel</h1>
    </div>
  </a>
</div>
<div class="header_articles">
  <a href="{{ "blog" | relURL }}"><h1>Articles</h1></a>
</div>  
